<!doctype! html>
<html>
	<head>
		<title>Text detection and recognition on youtube videos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/static/css/app.css" type="text/css">

		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

         <script>// <![CDATA[
            function updateTextInput(val) {
              document.getElementById('seconds').value=val; 
            }
            $("#loading").hide();        
        </script>

    </head>
    <style>
        h5 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
        h3 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
        
        input {
            border: 2px;
            border-radius: 4px;
        }
        #upload-form {
            background-color: #EFF2FB;
            color: black;    
        }
        
        #loading {
            display: none
        }

    </style>
	<body>
        <h5>Text detection and recognition on youtube videos</h5> <br />
		<div id="form" >
            <form id="upload-form" method="post" enctype="multipart/form-data">
                <div class="form-content-container">

                    Youtube url<br />
                    <input id="submit_url" type="url" name="url" /><br />
                        Start time <br />              
                    Minutes:<input id="start" type="number" name="start_min" /> 
                    Seconds:<input id="start" type="number" name="start_sec" />
                    <br/>
                    
                    Duration in seconds <br />                     
                    <input id="seconds" type="number" name="seconds" min="01" max="59" />
                    <br />

                    <input id="submit_button" type="submit" value="Find text" onclick="$('#loading').show();" /> <br />
                                                                                       
                </div>
            </form>
            Note: This demo restricts the size of the video to 1 minute. Don't worry if your video is longer, use the fields start and duration to trim it on the fly! It takes about 2 minutes for a 10 second video, so feel free to grab a coffee and come back for the results :-)
		</div>                              
        <div id="loading" style="display:none;" align="middle" >
            <img src="static/loading.gif" alt="" style="width:300px;height:300px;" />
        </div>

        <div id="content">            
            <h3>{{ result_string}}</h3> <br />

             <video width="1280" height="960" controls>
                    <source src='{{ video_path }}' type="video/mp4">
                    Your browser does not support the video tag.
             </video>
        </div>
			
        <footer>
				<div>By Sravya Tirukkovalur
				<div>Github repo for this demo: <a href="https://github.com/sravya8/VideoText">https://github.com/sravya8/VideoText</a></div>
        </footer>
			<!--a href="https://github.com/argman/EAST"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a-->

       
	</body>
</html>
